<%- include('./header.ejs') %>
<% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
    <div class="card mt-4">
    <div class="card-title p-2">
        <div class="text-muted">
        <%= entry.published %>
        </div>
        <%= entry.title %>
    </div>
    <div class="card-body p-2">
        <%= entry.content %>
    </div>
    </div>
    <% }) %>
    <% } else { %> No entries! <a href="/new-entry">Add one!</a>
    <% } %>
<%- include('./footer.ejs')  %>